:root {
  --background-color: #16161a;
  --headline-color: #fffffe;
  --paragraph-color: #94a1b2;
}

/*
    1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

.container {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  height: 100vh; /* o 100% */
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.content {
  max-width: 960px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* overflow: auto; */
}

header {
  position: sticky;
  top: 0;
}

.scroller {
  height: 90%;
  overflow: scroll;
}

a {
  text-decoration: none;
  color: var(--background-color);
}

.table {
  height: 80%;
  width: 100%;
  border-spacing: 0;
}

.table td, .table th {
  padding: 1em;
  text-align: left;
}

.poster {
  width: auto;
  height: 100px;
}

td img {
  text-align: center;
}